<!DOCTYPE html>
<html lang="eng">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css' )}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css')}}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}  ">
    <!-- Style -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}} ">
    <title>CCSC</title>

</head>

<body>

 <!-- NAVBAR -->
<div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->

    <div class="site-navbar-wrap">
      <div class="site-navbar-top">
        <div class="container py-3">
          <div class="row align-items-center">
            <div class="col-6">
              <div class="d-flex mr-auto">
                <a href="#" class="d-flex align-items-center mr-4">
                  <span class="icon-envelope mr-2"></span>
                  <span class="d-none d-md-inline-block">mail</span>
                </a>
                <a href="#" class="d-flex align-items-center mr-auto">
                  <span class="icon-phone mr-2"></span>
                  <span class="d-none d-md-inline-block"> contact</span>
                </a>
              </div>
            </div>
            <div class="col-6 text-right">
              <div class="mr-auto">
                <a href="#" class="p-2 pl-0"><span class="icon-twitter"></span></a>
                <a href="#" class="p-2 pl-0"><span class="icon-facebook"></span></a>
                <a href="#" class="p-2 pl-0"><span class="icon-linkedin"></span></a>
                <a href="#" class="p-2 pl-0"><span class="icon-instagram"></span></a>
              </div>

            </div>
          </div>
        </div>
      </div>

      <div class="site-navbar site-navbar-target js-sticky-header">
        <div class="container">
          <div class="row align-items-center">
              <div class="col-1">
                  <img style="height: 40px; width: 40px" src="https://denali.kcir.pwr.edu.pl/~swarga/ccsc/domains/ccsc.edu.pl/public_html/ccsc2019/img/logo-ccsc.png">
              </div>
            <div class="col-1">
              <h1 class="my-0 site-logo"><a href="index.html">CCSC</a></h1>
            </div>
            <div class="col-9">
              <nav class="site-navigation text-right" role="navigation">
                <div class="container">
                  <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                  <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">
                    <li class="active"><a href="#home-section" class="nav-link">1</a></li>
                    <li><a href="#classes-section" class="nav-link">2</a></li>
                    <li class="has-children">
                      <a href="#" class="nav-link">3</a>
                      <ul class="dropdown arrow-top">
                        <li><a href="#" class="nav-link">Team</a></li>
                        <li><a href="#" class="nav-link">Pricing</a></li>
                        <li><a href="#" class="nav-link">FAQ</a></li>
                        <li class="has-children">
                          <a href="#">More Links</a>
                          <ul class="dropdown">
                            <li><a href="#">Menu One</a></li>
                            <li><a href="#">Menu Two</a></li>
                            <li><a href="#">Menu Three</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#about-section" class="nav-link">4</a></li>
                    <li><a href="#events-section" class="nav-link">6</a></li>
                  </ul>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>

 <!-- NAVBAR -->


    <div class="hero col-12">
        <div class="hero-text">
            <h1 >LOREM IPSUM</h1>

        </div>
    </div>
 <div class="col-12 hero1">

 </div>




 <div class="footer-basic">
        <footer>
            <!--<div class="social">
                <a href="#"><i class="icon ion-social-instagram"></i></a>
                <a href="#"><i class="icon ion-social-snapchat"></i></a>
                <a href="#"><i class="icon ion-social-twitter"></i></a>
                <a href="#"><i class="icon ion-social-facebook"></i></a>
            </div> -->
            <ul class="list-inline">
                <li class="list-inline-item"><a href="#">Home</a></li>
                <li class="list-inline-item"><a href="#">Services</a></li>
                <li class="list-inline-item"><a href="#">About</a></li>
                <li class="list-inline-item"><a href="#">Terms</a></li>
                <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="copyright">CRACOW COGNITIVE SCIENCE CONFERENCE 2021</p>
        </footer>
    </div>





    <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js')}}  "></script>
    <script src="{{ url_for('static', filename='js/popper.min.js')}}  "></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}  "></script>
    <script src="{{ url_for('static', filename='js/jquery.sticky.js')}}  "></script>
    <script src="{{ url_for('static', filename='js/main.js')}}  "></script>

</body>

</html>